@media (max-width: 1200px)
  .container
  .header
    &-menu
      width: 85%
      &__item
        font-size: 20px
  .footer
    &-form
      flex-basis: 69%
@media (max-width: 992px)
  .container
  .header
    &-menu
      &__item
        font-size: 18px
  .footer
    &__input
      &-group
        margin-bottom: 15px
        &--phone
          margin-right: 10px
    &__button
      width: 40%
  .portfolio
    &-wrapper
      width: 90%
    &-slider
      height: 400px
    &-screen
      width: 85%
  label.invalid
    font-size: 10px
  .certificates
    &-buttons
      &-block
        width: 98%
@media (max-width: 768px)
  .container
    &-training
      flex-direction: column
    &-navbar
      display: flex
      align-items: center
      min-height: 64px
      margin: 8px auto 0
      max-width: 84%
      &__bottom
        padding-top: 0px
        margin-bottom: 0
        height: 100vh
        width: 100%
        min-height: 100%
        min-width: 100%
        display: flex
        align-items: flex-start
        justify-content: center
        padding-top: 22px
        background-color: #183B56
    &-portfolio
      padding: 77px 0
  .header
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 99
    background-color: #fff
    &-navbar
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 99
      background-color: #fff
      padding: 0 5%
    &-menu
      display: none
      &__link
        color: #FFFFFF
    &-main
      margin: 180px auto
      display: flex
      &-title
        font-size: 40px
        line-height: 42px
      &-subtitle
        font-size: 24px
        line-height: 32px
      &__text
        &-block
          flex-basis: 50%
          margin: 0 10px 0 0
      &-text
        font-size: 18px
        line-height: 24px
  .navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 99
    background-color: #fff
    &-menu
      &__item
        margin-bottom: 16px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
    &-close
      display: flex
      width: 24px
      height: 16px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
  .skills
    &-wrapper
      width: 100%
    &-title
      font-size: 32px
    &-text
      font-size: 14px
      line-height: 20px
  .training
    &-wrapper
      width: 100%
    &-certificate
      &--1, &--2, &--3
        width: 30%
    &-certificates
      &-block
        min-height: auto
        flex-direction: row
        justify-content: center
    &-title
      font-size: 32px
    &-text
      font-size: 14px
      line-height: 20px
  .works
    &-wrapper
      width: 100%
    &-title
      font-size: 32px
    &-text
      font-size: 14px
      line-height: 20px
  .portfolio
    &-wrapper
      width: 100%
      flex-direction: column
    &-screen
      height: auto
      width: 80%
    &-title
      font-size: 32px
    &-text
      font-size: 14px
      line-height: 20px
  .footer
    &-title
      font-size: 32px
    &-subtitle
      font-size: 16px
      line-height: 20px
    &-text
      font-size: 14px
      line-height: 20px
    &-contacts
      flex-basis: 32%
      &-email
        font-size: 16px
        &__link
          &--email
            font-size: 14px
            line-height: 20px
          &--icon
            margin: 0 10px 0 0
      &-phone
        font-size: 16px
        &__link
          &--num
            font-size: 14px
            line-height: 20px
          &--icon
            margin: 0 15px 0 0
      &-telegram
        font-size: 16px
        &__link
          &--telegram
            font-size: 14px
            line-height: 20px
          &--icon
            margin: 0 5px 0 0
    &__input
      &-group
        flex-basis: 48%
        &--phone
          margin-right: 0
    &__message
      flex-basis: 100%
    &__button
      font-size: 16px
      line-height: 20px
  .certificates
    &-slider
      width: 500px
      min-height: 370px
    &-buttons
      &-block
        top: 280px
        width: 95%
      &__image
        &--right, &--left
          width: 25px
          height: 25px
@media (max-width: 650px)
  .header
    &-main
      display: flex
      flex-direction: column
      margin: 100px auto
      &__text
        &-block
          display: none
          &--upper, &--lower
            display: flex
            min-height: 150px
            width: 100%
            margin: 0 0 20px 0
            align-items: center
            text-align: center
      &__photo
        margin: 0 auto
  .footer
    &-block
      flex-direction: column
    &-form
      margin-top: 20px
@media (max-width: 450px)
  .footer
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 576px)
  .container
  .certificates
    &-slider
      width: 400px
      min-height: 300px
    &-buttons
      &-block
        top: 250px
      &__image
        &--right, &--left
          width: 18px
          height: 18px
@media (min-width: 320px) and (max-width: 450px)
  .container
  .certificates
    &-slider
      width: 260px
      min-height: 200px
@media (max-width: 320px)
  .container
