@media (max-width: 1200px)
  .container
  .header
    &-menu
      width: 85%
      &__item
        font-size: 20px
  .footer
    &-form
      flex-basis: 69%
@media (max-width: 992px)
  .container
  .header
    &-menu
      &__item
        font-size: 18px
  .footer
    &__input
      &-group
        margin-bottom: 15px
        &--phone
          margin-right: 10px
    &__button
      width: 40%
  .portfolio
    &-wrapper
      width: 90%
    &-slider
      height: 400px
    &-screen
      width: 85%
  label.invalid
    font-size: 10px
  .certificates
    &-buttons
      &-block
        width: 98%
@media (max-width: 768px)
  .container
    &-navbar
      display: flex
      align-items: center
      min-height: 64px
      margin: 8px auto 0
      max-width: 84%
      &__bottom
        padding-top: 0px
        margin-bottom: 0
        height: 100vh
        width: 100%
        min-height: 100%
        min-width: 100%
        display: flex
        align-items: flex-start
        justify-content: center
        padding-top: 22px
        background-color: #183B56
    &-portfolio
      padding: 77px 0
  .header
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 99
    background-color: #fff
    &-navbar
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 99
      background-color: #fff
      padding: 0 5%
    &-menu
      display: none
      &__link
        color: #FFFFFF
    &-main
      margin: 200px auto
  .navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 99
    background-color: #fff
    &-menu
      &__item
        margin-bottom: 16px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
    &-close
      display: flex
      width: 24px
      height: 16px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
  .skills
    &-wrapper
      width: 100%
  .training
    &-wrapper
      width: 100%
    &-certificate
      &--1, &--2, &--3
        width: 70%
  .works
    &-wrapper
      width: 100%
  .portfolio
    &-wrapper
      width: 100%
    &-screen
      height: auto
      width: 80%
  .footer
    &-contacts
      flex-basis: 32%
      &-email, &-phone, &-telegram
        font-size: 16px
    &__input
      &-group
        flex-basis: 48%
        &--phone
          margin-right: 0
    &__message
      flex-basis: 100%
  .certificates
    &-slider
      width: 500px
      min-height: 370px
    &-buttons
      &-block
        top: 280px
        width: 95%
      &__image
        &--right, &--left
          width: 25px
          height: 25px
@media (max-width: 576px)
  .container
  .certificates
    &-slider
      width: 400px
      min-height: 300px
    &-buttons
      &-block
        top: 250px
      &__image
        &--right, &--left
          width: 18px
          height: 18px
@media (min-width: 320px) and (max-width: 450px)
  .container
  .certificates
    &-slider
      width: 260px
      min-height: 200px
@media (max-width: 320px)
  .container
