.portfolio
  &-wrapper
    width: 100%
    display: flex
    flex-direction: row
  &-title
    font-style: normal
    font-weight: normal
    font-size: 36px
    line-height: 38px
    color: #042042
    padding: 0
    margin: 0 0 20px 0
  &-subtitle
    font-style: normal
    font-weight: normal
    font-size: 22px
    line-height: 22px
    color: #063873
    padding: 0
    margin: 0 0 10px 0
  &-text
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 26px
    color: $text-color
    padding: 0
    margin: 0 0 15px 0
  &-certificates
    width: 1000px
    min-height: 220px
    padding: 0
    margin: 0
  &-certificate
    width: 300px
    min-height: 220px
    padding: 0
    margin: 0
    cursor: pointer
  &-slider
    width: 470px
    height: 475px
    position: absolute
    margin: 0 auto
    margin-right: auto
    margin-right: auto
    display: flex
  &-slide
    width: 100%
    height: 100%
    position: relative
    border-radius: 8px
    overflow: hidden
  &-slata
    display: flex
    flex-direction: column
    flex-basis: 55%
    justify-content: flex-start
    align-items: flex-start
    &__link
      margin: 0
      padding: 0
      text-decoration: none
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 26px
      color: $text-color
      padding: 0
      margin: 0 0 15px 0
      &:hover
        text-decoration: underline
    &-header
      margin-bottom: 20px
  &-buttons
    /*display: flex*/
    /*flex-basis: 8%*/
    /*justify-content: center*/
    &-block
      width: 80%
      display: flex
      justify-content: space-between
      /*position: absolute*/
      /*top: 320px*/
    &__image
      &--left, &--right
        width: 40px
        height: 40px
        filter: brightness(0) saturate(100%) invert(19%) sepia(8%) saturate(3867%) hue-rotate(165deg) brightness(95%) contrast(93%)
        outline: none
    &__right, &__left
      display: flex
      text-decoration: none
      &:focus
        outline: none
        border: none
  &-screen
    width: 130px
    height: auto
    margin-bottom: 10px
    cursor: pointer
    -webkit-transform: scale(0.9)
    -moz-transform: scale(0.9)
    -o-transform: scale(0.9)
    -webkit-transition-duration: 0.5s
    -moz-transition-duration: 0.5s
    -o-transition-duration: 0.5s
    opacity: 0.7
    &:hover
      -webkit-transform: scale(1.0)
      -moz-transform: scale(1.0)
      -o-transform: scale(1.0)
      box-shadow: 0px 0px 30px gray
      -webkit-box-shadow: 0px 0px 30px gray
      -moz-box-shadow: 0px 0px 30px gray
      opacity: 1
    &-modal
      width: 100%
      object-fit: contain
    &__modal
      height: 100%
      width: auto
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      padding: 0
      margin: 0
  &-screenshots
    min-height: inherit
    display: flex
    flex-basis: 40%
    justify-content: center
    align-items: flex-start
    &__left, &__right
      display: flex
      flex-direction: column
      flex-basis: 45%
      align-items: center
